@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Manage Birds</h3>
        <p>
            <a href="@Url.Action("BirdControl", "Admin")" class="btn btn-primary">View Birds</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Reports</h3>
        <p>
            <a href="@Url.Action("CountSessions", "Admin")" class="btn btn-primary">View Sessions</a>
        </p>
    </div>
</div>